<footer class="footer bg-dark text-white py-3 fixed-bottom">
  <div class="container text-center">
    <small class="text-muted d-block mb-3">
      The <a href="https://www.railstutorial.org/" class="text-white text-decoration-underline">Ruby on Rails Tutorial</a>
      by <a href="https://www.michaelhartl.com/" class="text-white text-decoration-underline">Michael Hartl</a>
    </small>
    <nav>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to "About", contact_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <a href="https://news.railstutorial.org/" class="nav-link text-white">News</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
